<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>NEW TASK</h2>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <label for="title">TITLE:</label>
                            <input [(ngModel)]="task.title" type="text" name="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="description">DESCRIPTION:</label>
                            <textarea [(ngModel)]="task.description" name="description" cols="30" rows="10"  class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="status">STATUS:</label>
                            <select [(ngModel)]="task.status" name="status" class="form-control">
                                <option value="true">ON</option>
                                <option value="false">OFF</option>
                            </select>
                        </div>

                        <button (click)="edit ? updTask(task) : addTask()" class="btn btn-primary btn-block btn-lg">{{btnAction}} Task</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
